// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Overrides
code {
  font-size: 15px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.label-blue-lt {
  background-color: #99badd;
  color: #ffffff;
  border-radius: 25px;
}

.label-red-lt {
  background-color: #d9603b;
  color: #ffffff;
  border-radius: 25px;
}

.label-yellow-dk {
  background-color: #ffdb58;
  color: #ffffff;
  border-radius: 25px;
}

.label-green-lt {
  background-color: #74c365;
  color: #ffffff;
  border-radius: 25px;
}

a:link {
  color: #0000cd;
}

a:hover {
  color: #cf1020;
}

a:visited {
  color: #65000b;
}

.side-bar {
  background-color: #f7f7eb;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: bold;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    + dt {
      margin-top: 1em;
    }
  }
}